.container {
  display: grid;
  grid-template-areas: 'header' 'content' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 50px minmax(0, 1fr) 50px;
  gap: 10px;

  height: 100%;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}
