.container{
    display: grid;
    grid-template-areas: "header" "content";
    grid-template-columns: 1fr;
    grid-template-rows: 50px minmax(0, 1fr);
    gap: 10px;
    height: 100%;
}

.header{
    grid-area: header;
}

.content{
    grid-area: content;
    padding: 10px;
}

.content p {
    padding-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.icon svg {
    vertical-align: text-bottom;
}
